build/*
.idea/*
cmake-build-debug/
*.pyc
*/__pycache__/*
.DS_Store
pyhanabi/exps
sweep
sweep_*
plot.png
sweep*.py
*.sh
!*ref*.sh
*.ipynb*
pyhanabi/tools/bad_player/
pyhanabi/tools/bad_player_sparta/
pyhanabi/models/*
pyhanabi/iclr_models/*
pyhanabi/notebooks/*
pyhanabi/extract_human_data.py
pyhanabi/scripts/*
.vscode
pyhanabi/openai/dev_helm.pkl
pyhanabi/openai/dev_cache.pkl
icml/
*.zip
say-select/exps/*
models/
